<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org">

  <head>
  <script src="js/jquery-3.2.1.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/bootstrap-table.min.js"></script>
  <script src="js/languageSupport.js" ></script>
  <link href="css/bootstrap.min.css" rel="stylesheet"/>
  <link href="css/bootstrap-table.min.css" rel="stylesheet"/>
  <style type="text/css">
  /* Spacing for nav bar */
  body {
    padding-top: 60px;
  }
  </style>
  </head>
 <body>
    <div th:replace="fragments/header :: header"/>
    <div class="container">
      <div class="hero-unit">
       <h1 th:text="#{homepage.title}"></h1>
        <p th:text="#{homepage.greeting}">
        </p>
<!--         <p>
          <a href="/signup" th:href="@{/signup}" class="btn btn-large btn-success" th:text="#{action.signup}">Sign up</a>
        </p> -->
      </div>
      <div th:replace="fragments/footer :: footer"/>
    </div>
  </body>
</html>
